@model IEnumerable<AppointmentManagementSystem.DTOs.AppointmentDto>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Appointments</title>
    <h2>Appointment details</h2>
    @foreach(var appointment in Model)
    {
        <div>
            <h2>@appointment.customer?.name @appointment.customer?.surname</h2>
            <p>@appointment.startTime.Date</p>
            <p>@appointment.endTime.Date</p>
            <p>@appointment.description</p>
        </div>
    }
</head>
<body>
<div>
      
</div>
</body>
</html>