@using Microsoft.AspNetCore.Identity
@using Models.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUrlHelper UrlHelper

@functions {
    public bool IsActive(string controller, string action)
    {
        var routeData = Context.GetRouteData();
        var routeAction = routeData.Values["action"]?.ToString();
        var routeController = routeData.Values["controller"]?.ToString();
        return string.Equals(routeAction, action, StringComparison.OrdinalIgnoreCase) &&
        string.Equals(routeController, controller, StringComparison.OrdinalIgnoreCase);
    }
}


<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>@ViewData["Title"] - Randevu Sistemi</title>

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <!-- Daterangepikcer CSS -->
    <link rel="stylesheet" href="~/assets/plugins/daterangepicker/daterangepicker.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">


</head>
<body>
    <!-- Start Navigation -->
    <!-- Header -->
    <header class="header">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
                    <span class="bar-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand logo">
                    <img src="https://www.ester.com.tr/layout/images/logo.svg" class="img-fluid" alt="Logo">
                </a>
            </div>
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a href="@Url.Action("Index", "Home")" class="menu-logo">
                        <img src="https://www.ester.com.tr/layout/images/logo.svg" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav">
                    <li class="@(IsActive("Home", "Index") ? "active" : "")">
                        <a href="@Url.Action("Index", "Home")">Anasayfa</a>
                    </li>
                    <li class="@(IsActive("Booking", "Index") ? "active" : "")">
                        <a href="@Url.Action("Index", "Booking")">Randevu Oluştur</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("Admin"))
                        {

                            <li class="@(IsActive("Submissions", "Index") ? "active" : "")">
                                <a href="@Url.Action("Index", "Submissions")">Randevu Talepleri</a>
                            </li>
                            <li class="@(IsActive("Sessions", "Index") ? "active" : "")">
                                <a href="@Url.Action("Index", "Sessions")">Randevu Oturumları</a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <ul class="nav header-navbar-rht">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li>
                        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="form-inline">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i> Çıkış</button>
                        </form>
                    </li>
                    <li class="course-amt">
                        <a href="#" class="course">
                            @{
                                var currentUser = await UserManager.GetUserAsync(User);
                            }
                            <span>@currentUser?.UserName?.ToUpper()</span>
                            <p>@currentUser?.Email</p>
                        </a>
                        <a href="#" class="user-circle"><img src="~/assets/img/icon-01.png" width="22" alt=""></a>
                    </li>
                }
            </ul>
        </nav>
    </header>
    <!-- /Header -->

    <div class="content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer mt-5">
        <div class="container">
            <span class="text-white">&copy; 2024 - ESTER</span>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.6.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="~/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="~/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- circle progress JS -->
    <script src="~/assets/js/circle-progress.min.js"></script>

    <!-- Datetimepicker JS -->
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Custom JS -->
    <script src="~/assets/js/script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>